body {
    background: #0F0C29;
    background-image: -webkit-linear-gradient(to right, #24243E, #302B63, #0F0C29);
    background-image: linear-gradient(to right, #24243E, #302B63, #0F0C29);
}

button {
    cursor: pointer;
}

.container {
    text-align: center;
    margin-top: 20%;
}

.slide-in {
    font-size: 1.7em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: .5em 1.5em;
    border: 0;
    border-radius: .1em;
    background-image: -webkit-radial-gradient(white, #eee);
    background-image: radial-gradient(white, #eee);
    animation: slideMeIn .7s ease-in;
}

.slide-out {
    font-size: 1.7em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: .5em 1.5em;
    border: 0;
    border-radius: .1em;
    background-image: -webkit-radial-gradient(white, #eee);
    background-image: radial-gradient(white, #eee);
    animation: slideMeOut .7s ease-out;
}

@keyframes slideMeIn {
    0% {
        transform: skewX(53deg) translateX(-500px);
        opacity: 0;
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: skewX(0deg) translateX(30px);
    }
    70% {
        transform: skew(-20deg);
        opacity: 1;
    }
    80% {
        transform: skew(0deg) translate(0);
    }
    90% {
        transform: skew(-5deg);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes slideMeOut {
    0% {
        transform: skew(0deg);
    }
    60% {
        transform: skew(-5deg);
    }
    62% {
        transform: skew(0deg) translate(0);
    }
    70% {
        transform: skew(-20deg);
        opacity: 1;
    }
    80% {
        transform: skewX(0deg) translateX(30px);
    }
    90% {
        transform: translateX(0px);
    }
    100% {
        transform: skewX(53deg) translateX(-500px);
        opacity: 0;
    }
}